<div class="footer">
  <div class="footer-icons">
    <img src="assets/facebook_icon.png" alt="Facebook icon" />
    <img src="assets/instagram_icon.png" alt="Instagram icon" />
    <img src="assets/twitter_icon.png" alt="Twitter icon" />
    <img src="assets/youtube_icon.png" alt="Youtube icon" />
  </div>
  <ul>
    <li>Audio Description</li>
    <li>Help Centre</li>
    <li>Gift Cards</li>
    <li>Media Centre</li>
    <li>Investor Relations</li>
    <li>Jobs</li>
    <li>Terms of Use</li>
    <li>Privacy</li>
    <li>Legal Notices</li>
    <li>Cookie preferences</li>
    <li>Corporate Information</li>
    <li>Contact Us</li>
  </ul>
  <p class="copright-text">&#64; 1997-2023 Netflix, Inc.</p>
</div>
